.head {
    color: var(--background-blanco);
    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid var(--border-cabecera-mobile);

    position: absolute;
}

.head__logo {
    margin-bottom: 1rem;
}

.head__navegacion {
    text-align: center;
    font-family: var(--open-sans);
}

.head__enlace {
    font-size: 1.1rem;
    display: inline-block;
    padding: 0 .8rem;
    margin-bottom: .9rem;

}

.head__enlace:hover {
    background: rgb(164, 9, 9);
    color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    font-family: 'Poppins', sans-serif; 
    text-shadow: 0 0 20px rgb(242, 255, 0);}

p {
    font-family: var(--open-sans);
}

.boton{
    font-family: var(--montserrat);
}

@media screen and (min-width: 1024px){
    .head {
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }

    .head__navegacion {
        display: flex;
        align-items: center;
    }
}



