 .llamada  {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--background-blanco);
    text-align: center;
    
    background-color: #00161C;

    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
}

.llamada__titulo {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
}

.llamada__texto {
    font-size: 1.25rem;
    line-height: normal;

    margin: 0 auto 2.5rem;
}

.llamada__boton {
    width: 100%;
}

@media screen and (min-width:768px) {
    .llamada {
        background-color: rgb(78, 53, 102);
            }

    .llamada__texto {
        max-width: 600px;
    }

    .sobre_nosotros__contenido {
         text-align: center;
         margin-bottom: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .llamada {
        background-image: url(/Responsive_Design/layouts-responsivos/img/bg-intro.jpg);
        background-size: cover;
        padding-top: 8.25rem;
    }

    .llamada__titulo {
        font-size: 3.5rem;
        min-width: 1024px;
    }
}